.box-red {
    position: absolute;
    margin-left:20px;
    margin-top:-27px;
    left: 6px;
    top: 16px;
    background: #ff0b1f;
    width: 100px;
    height: 26px;
}

.box-red-text {
    color: white;
    margin-left: -15px;
    margin-top: -3px;
    display: block;
    position: absolute;
    left: 25px;
    top: 10px;
    font-family: Arial, sans-serif;
    font-size: 11px;
}
.box-red::after{
    display: block;
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-right: 5px solid #ff0000;
    border-bottom: 5px solid #ff0000;
    left: -10px;
    top:0px;
}