
.tags{
    float: left;
    padding-top: 13px;
}

.ul-tag {
    display: block;
    width: 330px;
    padding: 26px 10px 15px 10px;
    margin-right: 20px;
    margin-top: 0px;
}

.h3-tag  {
    margin: 0px 0px 0px 10px;
    padding-top: 10px;

}

@media screen and (max-width:900px){
     .tags {
        margin: 0px;
        padding: 0px 0px 0px 5px;
        width: 95%;
    }

    .ul-tag {
        margin: 0px;
        padding: 20px 0px 0px 5px;
        width: 100%;
    }
    .h3-tag {
        margin: 0px;
        padding: 0px;
    }
}