
.submit-red{
    width: 100%;
    height: 45px;
    margin: 4px 0 20px 0;
    padding: 0px 0px 4px 4px;
    color: white;
    background-color: #ff0b1f;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.submit-red:hover {
    color: lightgray;
    background-color: crimson;
}
.submit-red:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.submit-red:active {
    background: darkred;
}