 .content-text-style {
    font-size: 14px;
    margin: 0px;
    line-height: 22px;
    padding-top: 12px;
    padding-left: 1px;
     word-spacing: 2px;
}

 .clear-div{
     clear: both;
     width: 100%;
 }
 img {
    width: 440px;
    max-width: 100%;
}
 .content-img-float {
     float: left;
     padding-right: 10px;
     padding-top:10px;
 }

.content-list-squares {
    list-style-type: square;
    word-spacing: 2px;
    padding-left: 28px;
    padding-bottom: 0px;
    line-height: 17px;
    margin-top: 20px;
}
.content-list-item-squares {
    font-size: 13px;
}

.content-list {
    padding-top: 3px;
    margin-bottom: 30px;
}
.content-list-item {
    font-size: 14px;
    margin: -3px 0px 4px -14px;
}

.content-tags-link {
    font-size: 14px;
    margin: 0px 0px 22px -3px;
}