

main {
    color: black;
    background-color: white;
    width: 1050px;
    box-sizing: border-box;
    padding: 20px 25px 0px 25px;
    margin: 46px auto 30px;
    list-style-type: none;
    border: 1px solid ghostwhite;
    position: relative;

}

.main-div {
    padding: 0px 10px;
}

.color-text {
    text-decoration: none;
    color: red;
    padding-right: 5px;
}
.color-text1 {
    text-decoration: none;
    color: red;
    padding: 5px;
}

@media screen and (max-width:900px) {

    img {
        width: 100%;
    }

    main {
        width: 100%;
        margin-right: 0px;
        padding-right: 15px;
        padding-left: 10px;
    }

    .floats {
        padding: 0px;
    }
}