.comment-style{
    font-size: 13px;
    margin: 0px;
    padding-left: 90px;
}
.comment-avatar {
    float: left;
    padding-right: 10px;
    padding-top:10px;
    width: 80px;
}
.name-comment {
    padding-top: 10px;
    letter-spacing: 1px;
}
.text-comment {
    padding-top: 2px;
}
.date-comment {
    padding-bottom: 0px;
    font-size: 12px;
}

@media screen and (max-width:900px) {

    .comment-avatar {
        width: 30%;
    }
}