.news-block-avatar {
    float: left;
    padding-right: 10px;
    padding-top:10px;
    width: 130px;
}
.text-news-block {
    font-size: 14px;
    word-spacing: 2px;
    line-height: 19px;
    margin-bottom: 0px;
}
