footer {
    background-color: #2c4956;
    margin: 10px auto 0px auto;
    padding-top: 11px;
}
footer nav {
    width: 1050px;
    margin: 0px auto;


}
footer div {
    display: inline-block;
    color: white;
    margin-right: auto;
    width: 25%;
    height:  100%;
}
.rec{
    /*margin-top: 25px;*/
    padding-top: 3px;
    margin-left: 0px;
}
.recent {

    float:left;
    word-spacing: 3px;
    margin-left: 3px;
    margin-right: 100px;
    padding: 0px;

}
footer .recent ul {
    margin-top: 26px;
    padding-left: 28px;
    line-height: 19px;

}
footer .recent li{
    font-size: 13px;
    list-style-type:square;
    margin-left: -15px;

}
.tagsH {

    margin: 0px;
}
.tags{
    float: left;
    padding-top: 13px;
}
footer   ul.tags4 {
    display: block;
    width: 330px;
    padding: 26px 10px 15px 10px;
    margin-right: 20px;
    margin-top: 0px;
}
.tags li {
    list-style-type: none;
    display: inline-block;
    margin: 3px 1px 7px 2px;
    border-left: 2px solid red;
    background-color: white;
    padding-bottom: 5px;
    padding-right: 8px;

}
.tags li.tags-li{
    padding-right: 12px;
}
.tagsH {
    margin-left: 10px;
    padding-top: 10px;
}
.textW {
    margin-left: 122px;
    width: 280px;
    font-size: 15px;
    line-height: 18px;
    padding-top: 7px;
    word-spacing: 1px;
    float: left;
}
.textWp {
    padding-top: 14px;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 13px;
    line-height: 22px;
}


.copyright {
    padding: 0px 5px 20px 0px;
    font-size: 14px;
    margin-top: 0px;
    margin-left: -3px;
    float: left;
}
.clear-div{
    clear: both;
    width: 100%;
}

footer div ul li a {
    display: block;
    margin-left: -1px;
    padding: -10px 10px;
    color: black;
    text-decoration: none;
    width: auto;
}