.App {
  /*text-align: center;*/
  background-color: #ebebeb;
  font-family: Arial;
  margin:0px;
}


*{
  box-sizing: border-box;
}
p, li {
  color: grey;
  padding: 5px;
}


.main-div {
  padding: 0px 10px;
}
main {
  color: black;
  background-color: white;
  width: 1050px;
  box-sizing: border-box;
  padding: 20px 25px 0px 25px;
  margin: 46px auto 30px;
  list-style-type: none;
  border: 1px solid ghostwhite;
  position: relative;

}



/*main .fonts {*/
  /*font-size: 14px;*/
  /*margin: 0px;*/
  /*line-height: 22px;*/
  /*padding-top: 12px;*/
  /*padding-left: 1px;*/
/*}*/
/*main img {*/

  /*width: 440px;*/
  /*max-width: 100%;*/
/*}*/
/*h1 {*/
  /*padding-top: 8px;*/
/*}*/
/**/
/*.level1 {*/
  /*font-size: 28px;*/
  /*margin: 0px;*/
  /*padding-top: 20px;*/
/**/
/*}*/
/*.level2 {*/
  /*font-size: 26px;*/
  /*margin: 10px 0px 0px 0px;*/
  /*word-spacing: 4.7px;*/
/*}*/
/*.level3 {*/
  /*font-size: 23px;*/
  /*margin: 5px 0px 0px 0px;*/
  /*word-spacing: 0.5px;*/
/*}*/
/*.level4 {*/
  /*font-size: 21px;*/
  /*margin: 5px 0px 0px 0px;*/
/*}*/
/*.level5 {*/
  /*font-size: 19px;*/
  /*margin: 3px 0px 0px 0px;*/
/*}*/
/*.level6 {*/
  /*font-size: 17px;*/
  /*margin: 7px 0px 2px 0px;*/
  /*padding-top: 5px;*/
/*}*/
/*.level1, .level2, .level3, .level4, .level5, .level6 {*/
  /*padding-left: 2px;*/
/*}*/

/*.ps {*/
  /*font-size: 22px;*/
  /*margin-top: 13px;*/
  /*margin-bottom: 0px;*/
  /*font-weight: bold;*/
  /*padding-bottom: 0px;*/
/*.ps1 {*/
  /*font-size: 22px;*/
  /*font-weight: bold;*/
  /*word-spacing: 3px;*/
  /*padding-top: 7px;*/
  /*padding-bottom: 15px;*/
  /*margin: 0px;*/
/*}*/
/*.img1 {*/
  /*width: 500px;*/
/*}*/

/*.div-img2 {*/
  /*margin-bottom: -5px;*/
/*}*/
/*.img3 {*/
  /*padding: 0px;*/
/*}*/
/*.tops {*/
  /*font-size: 14px;*/
  /*line-height: 22px;*/
  /*margin: 0px;*/
  /*padding-left: 2px;*/
/*}*/
/*.icons {*/
  /*font-size: 13px;*/
  /*margin-top:-13px;*/
  /*margin-bottom: 13px;*/
/*}*/
/*.icons img {*/
  /*width: 15px;*/
  /*height: 15px;*/
  /*padding-right: 9px;*/
/*}*/

/*main section {*/
  /*display: inline;*/
/*}*/
/*.squares {*/
  /*list-style-type: square;*/
  /*word-spacing: 2px;*/
  /*padding-left: 28px;*/
  /*padding-bottom: 0px;*/
  /*line-height: 17px;*/
  /*margin-top: 20px;*/
/*}*/
/*.squares li {*/
  /*font-size: 13px;*/
/*}*/

section  img, div .avatar {
  float: left;
  padding-right: 10px;
  padding-top:10px;

}
/*.floats {*/
  /*font-size: 14px;*/
  /*padding-bottom: 103px;*/
  /*padding-top: 3px;*/
  /*padding-left: 455px;*/
  /*margin: 0px;*/
  /*word-spacing: 2px;*/
  /*line-height: 22px;*/
/*}*/
/*.ols {*/
  /*padding-top: 3px;*/
  /*margin-bottom: 30px;*/
/*}*/
/*.ols li{*/
  /*font-size: 14px;*/
  /*margin: -3px 0px 4px -14px;*/
/*}*/
/*.top2 {*/
  /*margin-top: 15px;*/
  /*margin-bottom: 10px;*/
/*}*/
/*.tagss {*/
  /*font-size: 14px;*/
  /*margin: 0px 0px 22px -3px;*/
/*}*/
/*.com-5 {*/
  /*padding-bottom: 10px;*/
/*}*/
.comments div.answer-comment1  {
  height: 91px;
}
.comments div {
  height: 100px;
}
.comments div.comment1 {
  padding-top: 7px;
  height: 98px;
}
.comments img {
  padding-top: 6px;
  width: 80px;
  height: 75px;
}
.comments p{
  font-size: 13px;
}
.name-comment {
  margin: 0px;
  padding-left: 90px;
  padding-top: 10px;
  letter-spacing: 1px;
}
.text-comment {
  margin: 0px;
  padding-left: 90px;
  padding-top: 2px;
}
.answer2-comment1 p.text-comment,
.comment2 p.text-comment{
  line-height: 19px;
  word-spacing: 3px;
}
.data-comment {
  margin: 0px;
  padding-left: 90px;
  padding-bottom: 0px;
  font-size: 12px;
}
.answer-comment1,
.answer2-comment1{
  padding-left:130px;
}
.answer-comment1{
  padding-bottom: 2px;
}
.answer2-comment1{
  padding-bottom: 43px;
}
.an-answer-comment1 {
  padding-left: 243px;
  margin-bottom: 19px;
}
.comment2 {
  margin-top: 40px;
  margin-bottom: 68px;
}


/*footer {*/
  /*background-color: #2c4956;*/
  /*margin: 10px auto 0px auto;*/
  /*padding-top: 11px;*/
/*}*/
/*footer nav {*/
  /*width: 1050px;*/
  /*margin: 0px auto;*/
/*}*/
/*footer div {*/
  /*display: inline-block;*/
  /*color: white;*/
  /*margin-right: auto;*/
  /*width: 25%;*/
  /*height:  100%;*/
/*}*/
/*.rec{*/
  /*padding-top: 3px;*/
  /*margin-left: 0px;*/
/*}*/
/*.recent {*/
  /*float:left;*/
  /*word-spacing: 3px;*/
  /*margin-left: 3px;*/
  /*margin-right: 100px;*/
  /*padding: 0px;*/
/*}*/
/*footer .recent ul {*/
  /*margin-top: 26px;*/
  /*padding-left: 28px;*/
  /*line-height: 19px;*/
/*}*/
/*footer .recent li{*/
  /*font-size: 13px;*/
  /*list-style-type:square;*/
  /*margin-left: -15px;*/
/*}*/
/*.tagsH {*/
  /*margin: 0px;*/
/*}*/
/*.tags{*/
  /*float: left;*/
  /*padding-top: 13px;*/
/*}*/
/*footer   ul.tags4 {*/
  /*display: block;*/
  /*width: 330px;*/
  /*padding: 26px 10px 15px 10px;*/
  /*margin-right: 20px;*/
  /*margin-top: 0px;*/
/*}*/
/*.tags li {*/
  /*list-style-type: none;*/
  /*display: inline-block;*/
  /*margin: 3px 1px 7px 2px;*/
  /*border-left: 2px solid red;*/
  /*background-color: white;*/
  /*padding-bottom: 5px;*/
  /*padding-right: 8px;*/
/*}*/
/*.tags li.tags-li{*/
  /*padding-right: 12px;*/
/*}*/
/*.tagsH {*/
  /*margin-left: 10px;*/
  /*padding-top: 10px;*/
/*}*/
/*.textW {*/
  /*margin-left: 122px;*/
  /*width: 280px;*/
  /*font-size: 15px;*/
  /*line-height: 18px;*/
  /*padding-top: 7px;*/
  /*word-spacing: 1px;*/
  /*float: left;*/
/*}*/
/*.textWp {*/
  /*padding-top: 14px;*/
  /*margin-left: 0px;*/
  /*padding-left: 0px;*/
  /*font-size: 13px;*/
  /*line-height: 22px;*/
/*}*/
/*.copyright {*/
  /*padding: 0px 5px 20px 0px;*/
  /*font-size: 14px;*/
  /*margin-top: 0px;*/
  /*margin-left: -3px;*/
  /*float: left;*/
/*}*/
/*.clear-div{*/
  /*clear: both;*/
  /*width: 100%;*/
/*}*/

/*footer div ul li a {*/
  /*display: block;*/
  /*margin-left: -1px;*/
  /*padding: -10px 10px;*/
  /*color: black;*/
  /*text-decoration: none;*/
  /*width: auto;*/
/*}*/
.color-text {
  text-decoration: none;
  color: red;
  padding-right: 5px;
}
.color-text1 {
  text-decoration: none;
  color: red;
  padding: 5px;
}
@media screen and (max-width:900px){

  header nav {
    width: 100%;
    margin: 0px;
    padding-left: 5px;
  }
  header ul {
    width: 100%;
    margin: 0px;
  }
  img{
    width: 100%;

  }
  main {
    width: 100%;
    margin-right: 0px;
    padding-right: 15px;
    padding-left: 10px;
  }
  nav.comments div {
    width: 100%;
    height: 100%;
  }

  .comments div.comment1, .comments div.answer-comment1  {
    height: 100%;
  }
  .floats {
    padding: 0px;
  }
  .comments1, .answer-comment1, .answer2-comment1,
  .an-answer-comment1{
    padding-left: 0px;
    padding-bottom: 10px;
    margin: 0px;
    float: none;
    width: 100%;

  }
  .comment2 {
    padding-left: 0px;
    padding-bottom: 10px;
  }


  footer {
    background: #2c4956;
    width: 100%;
    padding-left: 5px;

  }
  footer nav {
    width: 100%;
    padding-top: 10px;
  }
  footer div{
    width: 100%;
    /*height:  100%;*/
    display: block;
    padding: 0px 0px 0px 10px;
    margin: 0px;
  }
  .recent{
    padding: 0px;
    margin: 0px;
  }
  .textW, .tags, .copyright {
    margin: 0px;
  }
  .recent, .tags, .textW, .copyright{
    padding: 0px 0px 0px 5px;
    width: 95%;
  }
  .recent ul {
    margin-left: 10px;
    width: 100%;
  }
  .recent li {
    width: 100%;
  }

  footer ul.tags4 {
    margin: 0px;
    padding: 20px 0px 0px 5px;
    width: 100%;
  }
  .tagsH {
    margin: 0px;
    padding: 0px;
  }
  .textWp {
    padding-left: 10px;
  }
}




