main {
    color: black;
    background-color: white;
    width: 1050px;
    box-sizing: border-box;
    padding: 20px 25px 0px 25px;
    margin: 46px auto 20px;
    list-style-type: none;
    border: 1px solid ghostwhite;
    position: relative;
}

.main-content {
    padding: 0px 10px;
}

@media screen and (max-width:900px) {

    main {
        width: 100%;
        margin-right: 0px;
        padding-right: 15px;
        padding-left: 10px;
    }
}